[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -2d
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
