[submodule ".config/nvim/pack/w0m/start/emmet-vim"]
	path = .config/nvim/pack/w0m/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".config/nvim/pack/w0m/start/vimwiki"]
	path = .config/nvim/pack/w0m/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".config/nvim/pack/w0m/start/vim-surround"]
	path = .config/nvim/pack/w0m/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/pack/w0m/start/auto-pairs"]
	path = .config/nvim/pack/w0m/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".config/nvim/pack/w0m/start/vim-prettier"]
	path = .config/nvim/pack/w0m/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".config/nvim/pack/w0m/start/Vim-Jinja2-Syntax"]
	path = .config/nvim/pack/w0m/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule ".config/nvim/pack/w0m/start/vim-fugitive"]
	path = .config/nvim/pack/w0m/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/pack/w0m/start/vim-airline"]
	path = .config/nvim/pack/w0m/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/pack/w0m/start/plantuml-syntax"]
	path = .config/nvim/pack/w0m/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".config/nvim/pack/w0m/start/vim-polyglot"]
	path = .config/nvim/pack/w0m/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".config/nvim/pack/w0m/start/YouCompleteMe"]
	path = .config/nvim/pack/w0m/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".config/nvim/pack/w0m/start/vim-commentary"]
	path = .config/nvim/pack/w0m/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".config/nvim/pack/w0m/start/open-browser.vim"]
	path = .config/nvim/pack/w0m/start/open-browser.vim
	url = git@github.com:tyru/open-browser.vim.git
[submodule ".config/nvim/pack/w0m/start/plantuml-previewer.vim"]
	path = .config/nvim/pack/w0m/start/plantuml-previewer.vim
	url = git@github.com:weirongxu/plantuml-previewer.vim.git
